body {
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 40px;
    align-items: center;
    
}


.app-name {
    color: #f9faf8;
    display: flex;
    align-items: center;
    margin: 0 ;
}

#logo {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.logo-home {
    text-decoration: none;
}

.logo-home:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 10px #f9f9f9, 0 0 20px #f9f9f9, 0 0 30px #f9f9f9;
}

.nav{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #f9faf8;
}

.nav-link:hover {
    color: #f9faf8;
    text-shadow: 0 0 10px #f9f9f9, 0 0 20px #f9f9f9, 0 0 30px #f9f9f9;
}


.left-links {
    display: flex;
    
}

.right-links {
    display: flex;
    margin-left: 400px;
    flex-grow: 1;
}

.current-user-container {
    display: flex;
    align-items: center;
    margin: 0;
}

#current-user {
    color: #f9faf8;
    overflow: hidden;
    
}
/* Styling for active listings page*/


.auction-listings {
    margin: 20px 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 40px;
}

.auction-listing {
    display: flex;
    align-items: center;
}

.listing-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}

.listing-card:hover {
    background-color: #e0e0e0;
}

.to-listing {
    text-decoration: none;
}

.to-listing:hover {
    text-decoration: none;
    
}

.listing-img-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.listing-img {
    max-width: 100%;
    max-height: 100%;
}

.active-listings-title {
    text-align: center;
    
}

/* Styling for Login/Register Forms */
.auth-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    
}

.auth-form-container form {
    width: 300px;
}


.form-control {
    border-radius: 10px; 
}

.form-control:focus {
    outline: none;
    border-color: #1f2937; 
}

.btn {
    
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1f2937;
    color: #fff;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #45505e; 
}

.login-reg-here {
    text-decoration: underline;
}



/* Styling for the create listings page*/
.create-listing-title {
    text-align: center;
    padding: 2px;
}

.create-listing {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.listing-form {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 10px; 
}


.listing-form input[type="text"],
.listing-form select,
.listing-form textarea,
.listing-form input[type="url"],
.listing-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}




.submit-listing {
    grid-column: 1/-1;
    place-self: center;
    width: 200px;
    padding: 10px;
    border: none;
    margin-top: 5px;
    background-color: #1f2937;
    color: #fff;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-listing:hover {
    background-color: #45505e;
}



/*Styling for the listing info page*/
.content-container {
    display: flex;
    flex-direction: column;
    
}
.listing-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 80%;
    margin: 2px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-listing {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.listing-info-details {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.listing-info-img-container{
    margin: 5px;
}

.other-listing-info {
    width: 40%;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.listing-info-img {
    max-width: 100%;
    height: 400px;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #777;
}


.alert {
    padding: 10px;
    text-align: center;
    background-color: #0f9d58 ;
    border: 1px solid #0f9d58 ;
    color: #fff;
    border-radius: 5px;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none; 
    }
}
.listing-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.top-bids-title {
    text-align: center;
}

.top-bids-list {
    list-style-type: none;
}

.bid-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.bid-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bid-amount {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.place-bid {
    background-color: #0f9d58;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    width: 200px;
    margin: 10px 0;
    cursor: pointer;
}

.place-bid:hover {
    background-color: #0056b3;
}

.close-listing {
    background-color: #c10f2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
    text-decoration: none;
    text-align: center;
}

.close-listing:hover {
    background-color: #f31e42;
    text-decoration: none;
    color: #fff;
}

.errorlist
{
    color: red;
    border: 2px red solid;
    list-style-type: none;
    padding: 5px;
}

.watchlist-content {
    margin: 10px 0;
}



.watchlist-add {
    background-color: #fff;
    color: #0f9d58 ;
    border: 2px #0f9d58 solid;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    
}
#add {
    width: 20px;
    height: auto;
    margin: 2px;
}

.watchlist-add:hover {
    background-color: #9ae7c3 ;
    text-decoration: none;
    color: #0f9d58;
}

#minus {
    width: 20px;
    height: auto;
    margin: 2px;
}

.watchlist-remove {
    background-color: #c10f2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    
}

.watchlist-remove:hover {
    background-color: #f31e42;
    text-decoration: none;
    color: #fff;
}



.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error
{
    background-color: #c10f2c;
    color: #fff;
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    max-width: fit-content;
    align-content: center;
    animation: fadeOut 2s forwards;
}

.success
{
    background-color: #0f9d58 ;
    color: #fff;
    list-style-type: none;
    border-radius: 20px;
    padding: 8px 15px;
    max-width: fit-content;
    align-content: center;
    animation: fadeOut 2s forwards;
}


.winning-msg{
    padding: 10px;
    text-align: center;
    background-color: #0f9d58 ;
    border: 1px solid #0f9d58 ;
    color: #fff;
    border-radius: 5px;
    margin: 0 5px;
}


/* Styling for comments section */
.comments-section {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.comments-form {
    margin-bottom: 20px;
}

.make-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.comments-form-content {
    position: relative;
    display: flex;
    align-items: center;
}

.comment-textarea{
    border-radius: 8px;
    padding-right: 40px;
}

.comment-textarea::placeholder {
    padding: 10px;
}


.btn-post-comment {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    
}

.sort-and-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;
    
}

.sorting-form {
    display: flex;
    align-items: center;
    justify-content: center;
}



select {
    margin-left: 5px;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.comment {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 3px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 80%;
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-pic {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.commenter {
    font-size: larger;
    font-weight: bold;
    color: #000;
}

.comment-content {
    font-size: 20px;
    margin-left: 4%;
}

.comment-time {
    text-align: right;
    font-size: 15px;
}

.sort-label {
    padding: 2px;
    margin: 3px 0;
}

/*Styling for categories page*/
.category-title {
    margin: 5px 0;
    text-align: center;
}

.category-container {
    max-width: 900px;
    margin: 10px auto;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.category-card {
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-card a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.category-card:hover {
    background-color: #e0e0e0;
}



.listing-status {
    height: 30px;
    padding: 5px;
    width: 130px;
    margin: 0 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Additional watchlist page styling*/
.listing-status p {
    color: #fff;
    font-size: smaller;

}

.status-active {
    background-color: #0f9d58;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
}

.status-completed {
    background-color: #f31e42;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
}
