body {
    padding: 10px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 40px;
    align-items: center;
    
}


.app-name {
    color: #f9faf8;
    display: flex;
    align-items: center;
    margin: 0 ;
}

#logo {
    width: 40px;
    height: 40px;
    padding: 5px;
}

.nav{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: #f9faf8;
}

.left-links {
    display: flex;
    
}

.right-links {
    display: flex;
    margin-left: 500px;
    flex-grow: 1;
}

.current-user-container {
    display: flex;
    align-items: center;
}

#current-user {
    color: #f9faf8;
    
}
/* Styling for active listings page*/
.auction-listings {
    margin: 20px 35px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 40px;
}

.auction-listing {
    display: flex;
    align-items: center;
}

.listing-card {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.listing-img-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.listing-img {
    max-width: 100%;
    max-height: 100%;
}

.active-listings-title {
    text-align: center;
    
}

/* Styling for Login/Register Forms */
.auth-form-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    
}

.auth-form-container form {
    width: 300px;
}


.form-control {
    border-radius: 10px; 
}

.form-control:focus {
    outline: none;
    border-color: #1f2937; 
}

.btn {
    
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #1f2937;
    color: #fff;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #45505e; 
}

.login-reg-here {
    text-decoration: underline;
}



/* Styling for the create listings page*/
.create-listing-title {
    text-align: center;
    padding: 2px;
}

.create-listing {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.listing-form {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    grid-gap: 10px; 
}


.listing-form input[type="text"],
.listing-form select,
.listing-form textarea,
.listing-form input[type="url"],
.listing-form input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}




.submit-listing {
    grid-column: 1/-1;
    place-self: center;
    width: 200px;
    padding: 10px;
    border: none;
    margin-top: 5px;
    background-color: #1f2937;
    color: #fff;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-listing:hover {
    background-color: #45505e;
}



/*Styling for the listing info page*/
.listing-info-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    max-width: 1000px;
    margin: 0 30px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.main-listing-info {
    flex: 1;
}

.other-listing-info {
    width: 50%;
}

.listing-info-img {
    max-width: 100%;
    height: 400px;
}

h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

h4 {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

p {
    font-size: 16px;
    margin: 10px 0;
    color: #777;
}


.alert {
    padding: 10px;
    text-align: center;
    background-color: #0f9d58 ;
    border: 1px solid #0f9d58 ;
    color: #fff;
    border-radius: 5px;
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none; 
    }
}

.top-bids-title {
    text-align: center;
}

.top-bids-list {
    list-style-type: none;
}

#bid-amount {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.place-bid {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.place-bid:hover {
    background-color: #0056b3;
}

.close-listing {
    background-color: #c10f2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.close-listing:hover {
    background-color: #f31e42;
    text-decoration: none;
    color: #fff;
}

.errorlist
{
    color: red;
    border: 2px red solid;
    list-style-type: none;
    padding: 5px;
}

.watchlist-add {
    background-color: #fff;
    color: #0f9d58 ;
    border: 2px #0f9d58 solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
#add {
    width: 20px;
    height: auto;
    margin: 2px;
}

.watchlist-add:hover {
    background-color: #9ae7c3 ;
    text-decoration: none;
    color: #0f9d58;
}

#minus {
    width: 20px;
    height: auto;
    margin: 2px;
}

.watchlist-remove {
    background-color: #c10f2c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.watchlist-remove:hover {
    background-color: #f31e42;
    text-decoration: none;
    color: #fff;
}



.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error
{
    background-color: #c10f2c;
    color: #fff;
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    max-width: fit-content;
    align-content: center;
    animation: fadeOut 2s forwards;
}

.success
{
    background-color: #0f9d58 ;
    color: #fff;
    list-style-type: none;
    border-radius: 20px;
    padding: 8px 15px;
    max-width: fit-content;
    align-content: center;
    animation: fadeOut 2s forwards;
}


.winning-msg{
    padding: 10px;
    text-align: center;
    background-color: #0f9d58 ;
    border: 1px solid #0f9d58 ;
    color: #fff;
    border-radius: 5px;
}