{% extends "auctions/layout.html" %}

{% block body %}
    <h1 class="category-title">Categories</h1>

    <div class="category-container">
        <ul class="category-grid">
            {% for category in categories %}
                <li class="category-card">
                    <a href="{%url 'auctions:listings_in_category' category.categoryName%}">
                        {{category.categoryName}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock%}



