
{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}

    <h2 class="active-listings-title">Watchlist</h2>
        <div class="auction-listings">
            {% for listing in watchlist_listings %}
                <div class="auction-listing">
                    <a class="to-listing" href="{% url 'auctions:listing_view'  listing.id%}">
                        <div class="listing-card">
                            <div class="listing-status {% if listing.status == 'active' %}status-active{% elif listing.status == 'completed' %}status-completed{% endif %}">
                                <p>{{listing.status}}</p>
                            </div>
                            <div class="listing-img-container">
                                {% if listing.image == "" %}
                                    <img class="listing-img" src="{% static "auctions/blank-image.png" %}" alt="Blank Image">
                                {%else%}
                                    <img class="listing-img" src="{{listing.image}}" alt="{{listing.name}}">
                                {% endif %}
                            </div>
                            <h3>{{listing.title}}</h3>
                            <p>Starting bid: ${{listing.starting_bid}}</p>
                            <p>Created at: {{listing.created_at}}</p>
                            
                        </div>
                    </a> 
                </div>
            {%empty%}
                <div>No items in watchlist</div>    
            {% endfor %}
        </div>
    
{% endblock %}